.InputContent{
    
    header{
       
        height: 0.92rem;
        line-height: 0.92rem;
        width: 100%;
        background-color: #f7f7f7;
        input{
            float: left;
            width: 5rem;;
            height: 0.62rem;
           margin-top: 0.1rem;
            border-radius: 0.12rem;
            background-color: #eaeaea;
            border: 0;
        }
        button:nth-of-type(1){
            margin-top: 0.03rem;
            float: left;
            width: 1rem;
            height: 0.62rem;
            font-size: 0.5rem;
            border: 0;
            background-color: #f7f7f7;
        }
        button:nth-of-type(2){
            margin-top: 0.06rem;
            float: left;
            width: 1.12rem;
            height: 0.62rem;
            border: 0;
            background-color: #f7f7f7;
        }

    }
    p{
        height: 0.5rem;
    }
    .hotsearch{
        height: 1.63rem;
        li{
            height: 0.61rem;
            line-height: 0.61rem;
            padding: 0 0.1rem;
            float: left;
            text-align: center;
            margin-left: 0.1rem;
            margin-top: 0.1rem;
            font-size: 0.24rem;
            border: 1px solid #ccc;
        }
    }
    .searchkey{
        position: relative;
        left: 0;
        top: 0;
        background-color: #efefef;
        z-index: 10;
        margin-left: 0.1rem;
        li{
            text-indent: 0.6rem;
            padding: 0.2rem 0 ;
            border-bottom: 1px solid #ccc;
            color: #111;
            font-size: 0.28rem;
        }
    }
}