.EquipmentD{
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.6rem;
    float: left;
}
.latest{
    float: left;
    height: 0.48rem;
    width: 7.3rem;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    font-size: 0.32rem;
    color:#444;
}